<div class="container margin-top-32 margin-bottom-32">
  <div class="row">
    <div class="wow fadeInUp col-md-6 col-sm-6" data-wow-delay="0.6s">
      <h3>“Kesuksesan dan kegagalan adalah bagian dari siklus kehidupan kerja. Tapi kenangan bersama tak akan pernah dilupakan"</h3>
      <p>Waktu bergulir dengan sangat cepat, sehingga kami sampai juga pada akhir periode kepengurusan, walaupun tidak berarti hal tersebut merupakan berakhirnya  bakti kami terhadap kampus melalui organisasi kemahasiswaan, karena kami tentunya masih memiliki jiwa pengabdian demi pelayanan terhadap mahasiswa yang tetap akan kami lakukan setelah kepengurusan di HIMA ini selesai. </p>
      <p> -Gabriella Michaela (Sistem Informasi '17) </p>
    </div>		
      <div class="wow fadeInUp col-md-6 col-sm-6" data-wow-delay="0.9s">
      <img src="../../../../../assets/images/overview-img.JPG" class="img-responsive" />
      </div>
  </div>
</div>