<div class="row margin-top-20 margin-bottom-20">
  <div class="wow fadeInUp col-md-6 col-sm-6" data-wow-delay="0.9s">
    <img src="../../../../../assets/images/2.jpg" class="img-responsive" alt="program" >
  </div>
  <div class="wow fadeInUp col-md-6 col-sm-6" data-wow-delay="0.6s">
    <h3>Dengan bangga kami mempersembahkan Himpunan Mahasiswa Sistem Informasi</h3>
    <p>HIMA SI merupakan organisasi kemahasiswaan pendukung kuliah dimana tempat mahasiswa mengeksplore pengetahuannya yang telah didapat dibangku kuliah ke masyarakat dan membantu para mahasiswa dalam masalah perkuliahannya. </p>
    <p>HIMA SI saat ini lebih menitik beratkan pada kegiatan seminar dan event organizing lainnya. HIMA SI hadir tidak hanya diperuntukkan untuk membantu dan menjadi panitia kegiatan jurusan – tetapi yang lebih penting HIMA SI mampu berperan untuk melaksanakan berbagai kegiatan akademik lainnya. Untuk apa sibuk ngurus kegiatan program studi atau jurusan, jika kegiatan dan tujuan dari mahasiswa itu sendiri terabaikan. </p>
  </div>
</div>