<div class="margin-top-32 margin-bottom-32">
  <div class="col-md-2 col-sm-2">
    <img src="../../../../../assets/images/gabby_d.JPG" class="img-responsive" alt="program">
  </div>
  <div class="col-md-10 col-sm-10">
    <h6>
    </h6>
    <h3>Gabriella Michaela Budiharja</h3>
    <h4>Ketua Himpunan Mahasiswa</h4>
    <p> Sistem Informasi Angkatan 2017</p>
  </div>

  <!-- program divider -->
  <div class="program-divider col-md-12 col-sm-12"></div>

  <!-- program speaker here -->
  <div class="col-md-2 col-sm-2">
    <img src="../../../../../assets/images/lucky_d.JPG" class="img-responsive" alt="program">
  </div>
  <div class="col-md-10 col-sm-10">
    <h6>
    </h6>
    <h3>Thomas Lucky Prasojo</h3>
    <h4>Wakil Ketua Himpunan Mahasiswa </h4>
    <p>Sistem Informasi Angkatan 2017</p>
  </div>
  
  <div class="program-divider col-md-12 col-sm-12"></div>

  <!-- program speaker here -->
  <div class="col-md-2 col-sm-2">
    <img src="../../../../../assets/images/gcw_d.JPG" class="img-responsive" alt="program">
  </div>
  <div class="col-md-10 col-sm-10">
    <h6>
    </h6>
    <h3>Gabriella Christina Wahyu</h3>
    <h4>Bendahara Himpunan Mahasiswa </h4>
    <p>Sistem Informasi Angkatan 2018</p>
  </div>
  
  <div class="program-divider col-md-12 col-sm-12"></div>

  <!-- program speaker here -->
  <div class="col-md-2 col-sm-2">
    <img src="../../../../../assets/images/angel_d.JPG" class="img-responsive" alt="program">
  </div>
  <div class="col-md-10 col-sm-10">
    <h6>
    </h6>
    <h3>Angela Gabrielle Savena</h3>
    <h4>Sekretaris Himpunan Mahasiswa</h4>
    <p>Sistem Informasi Angkatan 2018</p>
  </div>
  
  <div class="program-divider col-md-12 col-sm-12"></div>

  <!-- program speaker here -->
  <div class="col-md-2 col-sm-2">
    <img src="../../../../../assets/images/jordi_d.JPG" class="img-responsive" alt="program">
  </div>
  <div class="col-md-10 col-sm-10">
    <h6>
    </h6>
    <h3>Evan Jordi</h3>
    <h4>Koordinator Public Relationship</h4>
    <p>Sistem Informasi Angkatan 2017</p>
  </div>
  
  <div class="program-divider col-md-12 col-sm-12"></div>
  <div class="col-md-2 col-sm-2">
  <img src="../../../../../assets/images/elle_d.JPG" class="img-responsive" alt="program">
  </div>
  <div class="col-md-10 col-sm-10">
    <h6>
    </h6>
    <h3>Ellena Sarah Josephine</h3>
    <h4>Anggota Public Relationship</h4>
    <p>Sistem Informasi Angkatan 2017</p>
  </div>
  
  <div class="program-divider col-md-12 col-sm-12"></div>
  <div class="col-md-2 col-sm-2">
  <img src="../../../../../assets/images/david_d.JPG" class="img-responsive" alt="program">
  </div>
  <div class="col-md-10 col-sm-10">
    <h6>
    </h6>
    <h3>David Nathaniel</h3>
    <h4>Anggota Public Relationship</h4>
    <p>Sistem Informasi Angkatan 2018</p>
  </div>
  
  <div class="program-divider col-md-12 col-sm-12"></div>
  <div class="col-md-2 col-sm-2">
  <img src="../../../../../assets/images/priscilla_d.JPG" class="img-responsive" alt="program">
  </div>
  <div class="col-md-10 col-sm-10">
    <h6>
    </h6>
    <h3>Priscilla Gabriela</h3>
    <h4>Koordinator Divisi Akademik</h4>
    <p>Sistem Informasi Angkatan 2017</p>
  </div>
  
  <div class="program-divider col-md-12 col-sm-12"></div>
  <div class="col-md-2 col-sm-2">
  <img src="../../../../../assets/images/romario_d.JPG" class="img-responsive" alt="program">
  </div>
  <div class="col-md-10 col-sm-10">
    <h6>
    </h6>
    <h3>Romario</h3>
    <h4>Anggota Divisi Akademik</h4>
    <p>Sistem Informasi Angkatan 2018</p>
  </div>
  <div class="program-divider col-md-12 col-sm-12"></div>
  <div class="col-md-2 col-sm-2">
  <img src="../../../../../assets/images/yesa_d.JPG" class="img-responsive" alt="program">
  </div>
  <div class="col-md-10 col-sm-10">
    <h6>
    </h6>
    <h3>Benedectus Yesa</h3>
    <h4>Koordinator Publikasi dan Dokumentasi</h4>
    <p>Sistem Informasi Angkatan 2017</p>
  </div>
  
  <div class="program-divider col-md-12 col-sm-12"></div>
  <div class="col-md-2 col-sm-2">
  <img src="../../../../../assets/images/richie_d.JPG" class="img-responsive" alt="program">
  </div>
  <div class="col-md-10 col-sm-10">
    <h6>
    </h6>
    <h3>Stevano Reynerich</h3>
    <h4>Anggota Publikasi dan Dokumentasi</h4>
    <p>Sistem Informasi Angkatan 2018</p>
  </div>
  
  <div class="program-divider col-md-12 col-sm-12"></div>
  <div class="col-md-2 col-sm-2">
  <img src="../../../../../assets/images/apen_d.JPG" class="img-responsive" alt="program">
  </div>
  <div class="col-md-10 col-sm-10">
    <h6>
    </h6>
    <h3>Julius Subarkah</h3>
    <h4>Koordinator Student Walfare</h4>
    <p>Sistem Informasi Angkatan 2017</p>
  </div>
  
  <div class="program-divider col-md-12 col-sm-12"></div>
  <div class="col-md-2 col-sm-2">
  <img src="../../../../../assets/images/pika_d.JPG" class="img-responsive" alt="program">
  </div>
  <div class="col-md-10 col-sm-10">
    <h6>
    </h6>
    <h3>Stefani Priskila Gauland</h3>
    <h4>Anggota Student Walfare</h4>
    <p>Sistem Informasi Angkatan 2018</p>
  </div>
  
  <div class="program-divider col-md-12 col-sm-12"></div>
  <div class="col-md-2 col-sm-2">
  <img src="../../../../../assets/images/gun_d.JPG" class="img-responsive" alt="program">
  </div>
  <div class="col-md-10 col-sm-10">
    <h6>
    </h6>
    <h3>Gunawan Tanday</h3>
    <h4>Anggota Student Walfare</h4>
    <p>Sistem Informasi Angkatan 2018</p>
  </div>
  
  <div class="program-divider col-md-12 col-sm-12"></div>
  <div class="col-md-2 col-sm-2">
  <img src="../../../../../assets/images/samantha_d.JPG" class="img-responsive" alt="program">
  </div>
  <div class="col-md-10 col-sm-10">
    <h6>
    </h6>
    <h3>Samantha Desideria</h3>
    <h4>Anggota Student Walfare</h4>
    <p>Sistem Informasi Angkatan 2019</p>
  </div>
  
  <div class="program-divider col-md-12 col-sm-12"></div>
  <div class="col-md-2 col-sm-2">
  <img src="../../../../../assets/images/james_d.JPG" class="img-responsive" alt="program">
  </div>
  <div class="col-md-10 col-sm-10">
    <h6>
    </h6>
    <h3>Christell James</h3>
    <h4>Anggota Student Walfare</h4>
    <p>Sistem Informasi Angkatan 2019</p>
  </div>
  
  <div class="program-divider col-md-12 col-sm-12"></div>
  <div class="col-md-2 col-sm-2">
  <img src="../../../../../assets/images/atung_d.JPG" class="img-responsive" alt="program">
  </div>
  <div class="col-md-10 col-sm-10">
    <h6>
    </h6>
    <h3>Novianto</h3>
    <h4>Koordinator Divisi Olahraga</h4>
    <p>Sistem Informasi Angkatan 2017</p>
  </div>
  
  <div class="program-divider col-md-12 col-sm-12"></div>
  <div class="col-md-2 col-sm-2">
  <img src="../../../../../assets/images/richard_d.JPG" class="img-responsive" alt="program">
  </div>
  <div class="col-md-10 col-sm-10">
    <h6>
    </h6>
    <h3>Richard</h3>
    <h4>Anggota Divisi Olahraga</h4>
    <p>Sistem Informasi Angkatan 2018</p>
  </div>
  
  <div class="program-divider col-md-12 col-sm-12"></div>
  <div class="col-md-2 col-sm-2">
  <img src="../../../../../assets/images/yoan_d.JPG" class="img-responsive" alt="program">
  </div>
  <div class="col-md-10 col-sm-10">
    <h6>
    </h6>
    <h3>Yoan Julius</h3>
    <h4>Koordinator Divisi Logistik</h4>
    <p>Sistem Informasi Angkatan 2017</p>
  </div>
  
  <div class="program-divider col-md-12 col-sm-12"></div>
  <div class="col-md-2 col-sm-2">
  <img src="../../../../../assets/images/aldy_d.JPG" class="img-responsive" alt="program">
  </div>
  <div class="col-md-10 col-sm-10">
    <h6>
    </h6>
    <h3>Jeremia Aldy Pratama Suherman</h3>
    <h4>Anggota Divisi Logistik</h4>
    <p>Sistem Informasi Angkatan 2017</p>
  </div>
  
  <div class="program-divider col-md-12 col-sm-12"></div>
  <div class="col-md-2 col-sm-2">
  <img src="../../../../../assets/images/andre_d.JPG" class="img-responsive" alt="program">
  </div>
  <div class="col-md-10 col-sm-10">
    <h6>
    </h6>
    <h3>Andre Sutanto</h3>
    <h4>Anggota Divisi Logistik</h4>
    <p>Sistem Informasi Angkatan 2018</p>
  </div>
</div>