<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <div #toolbar>
      <mat-toolbar color="accent">
        <div class="center-logo" style="cursor: pointer" (click)="goToMain()">
          <span>Web Hima</span>
        </div>
      </mat-toolbar>
    </div>
    <mat-nav-list class="margin-bottom-32">
      <ng-container *ngFor="let nav of navList">
        <mat-expansion-panel class="nav-panel" *ngIf="nav.children">
          <mat-expansion-panel-header collapsedHeight="50px" expandedHeight="50px">
            <mat-panel-title>
            {{nav.title | translate}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-divider></mat-divider>
          <mat-nav-list>
            <ng-container *ngFor="let navChild of nav.children; let j = index">
              <a mat-list-item [routerLink]="nav.link + navChild.link" routerLinkActive="active-nav"
                (click)="clickNav(drawer)"> {{navChild.title | translate}}
              </a>
              <mat-divider *ngIf="j !== nav.children.length - 1"></mat-divider>
            </ng-container>
          </mat-nav-list>
        </mat-expansion-panel>
          <a mat-list-item class="parent-nav" *ngIf="!nav.children" [routerLink]="nav.link" routerLinkActive="active-nav"
          (click)="clickNav(drawer)"> {{nav.title | translate}}
          </a>
          <mat-divider></mat-divider>
      </ng-container>
    </mat-nav-list>
    <div class="sidenav-bottom padding-bottom-10" [style.width]="toolbar.offsetWidth + 'px'">
      <div class="font-tag">
        Copyright &copy; 2020 HIMA SI ITHB
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="accent">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
      *ngIf="isHandset$ | async" style="color: white;">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="spacer"></span>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="logout()">Logout</button>
      </mat-menu>
      <button mat-button [matMenuTriggerFor]="menu" #menutrigger="matMenuTrigger">
        <div style="display: flex; flex-direction: row; justify-content: center; align-items: center;">
          <div class="profile-circle" style="display: flex; flex-direction: column; justify-content: center; align-items: flex-end;">
            <mat-icon>person</mat-icon>
          </div>
          <div style="margin-left: 10px;" fxLayout="column" fxLayoutAlign="center start">
            <div class="name-text">{{user?.name}}</div>
            <div class="role-text">Admin</div>
          </div>
          <div class="arrow-icon">
            <mat-icon *ngIf="menutrigger.menuOpen">keyboard_arrow_up</mat-icon>
            <mat-icon *ngIf="!menutrigger.menuOpen">keyboard_arrow_down</mat-icon>
          </div>
        </div>
      </button>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>