@import '~src/assets/styles/colors';

$white: map-get($colors, white);

.card-detail {
  left: 0px;
  top: 0px;
  background: $white;
}

.form-padding {
  padding: 16px 16px 0 16px;
}

.full-width-form {
  width: calc(100% - 15px);
}

.input-form {
  min-height: 45px;
  padding: 5px;
}

::ng-deep .tox-statusbar__branding {
  display: none;
}

.create-candidate-spinner {
  .mat-spinner::ng-deep circle {
    stroke: darkslategrey;
  }
}

.loading-container {
  min-height: calc(100vh - 64px);
  .mat-spinner::ng-deep circle {
    stroke: darkslategrey;
  }
}

.loading {
  left: 50%;
  top: calc(50% - 64px);
}