<section id="intro" class="parallax-section">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<h3 class="wow bounceIn" data-wow-delay="0.9s">Selamat Kepada Gabriella Christina Wahyu dan Gunawan Tandy</h3>
				<h1 class="wow fadeInUp" data-wow-delay="1.6s">Atas Terpilihnya Sebgai Ketua dan Wakil HIMA SI Periode</h1>
				<h1 class="wow fadeInUp" data-wow-delay="1.6s">2020-2021</h1>
				<a [routerLink]="['/main/winner']" class="btn btn-lg btn-default smoothScroll wow fadeInUp hidden-xs" data-wow-delay="2.3s">
					SELENGKAPNYA
				</a>
				<!-- <a [routerLink]="['/main/register']" class="btn btn-lg btn-danger smoothScroll wow fadeInUp" data-wow-delay="2.3s" *ngIf="!isUserLoggedIn()">
					DAFTAR SEKARANG!
				</a> -->
			</div>
		</div>
	</div>
</section>